.booking_form {
  width: 400px;
  height: 484px;
}

.booking_title {
  color: rgb(16, 24, 40);
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 8px;
  height: 24px;
}

.booking_form_text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.booking_subtitle {
  width: 400px;
  color: rgb(71, 84, 103);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}

.booking_input {
  width: 400px;
  height: 56px;
  margin-bottom: 14px;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(16, 24, 40, 0.6);
  background: rgb(247, 247, 247);
}

.booking_textarea {
  width: 400px;
  height: 114px;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(16, 24, 40, 0.6);
  margin-bottom: 18px;
  background: rgb(247, 247, 247);
}

.booking_button {
  width: 100%;
  height: 56px;
  background-color: #000;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.calendar {
  width: 20px;
  height: 20px;
  position: absolute;
}
.date-picker-wrapper {
  position: relative;
}
