.radio_group {
  display: flex;
  gap: 10px;
}

.radio_label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.radio_label input[type='radio'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom_radio {
  width: 50px; /* Размер квадрата */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.radio_label input[type='radio']:checked + .custom_radio {
  background-color: #4caf50; /* Цвет квадрата при выборе */
  border-color: #4caf50;
  color: white; /* Цвет иконки при выборе */
}

.custom_radio svg {
  font-size: 24px; /* Размер иконки */
}

.radio_label input[type='radio']:checked + .custom_radio {
  transform: scale(1.1); /* Небольшое увеличение при выборе */
  transition: transform 0.2s ease-in-out;
}
